*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35374B;
    /* padding: 10px 20px;
    padding-top: 10px; */
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
}

.logo{
    display: flex;
    height: 50px;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.search-input {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-button {
    background-color: #ffffff;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    cursor: pointer;
    margin-left: -5px;
}

.search-button img {
    width: 12px;
    height: 12px;
}

.create-event {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
.create-event:hover{
    color: #D3A5BE;
}

.icon {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

textarea::placeholder, input::placeholder, select{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  
.footer {
    background-color: #3b3b58;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo img{
    height: 50px;
}

.footer-description {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

.footer-divider {
    border: 0;
    height: 1px;
    background: #ffffff;
    width: 80%;
    margin: 20px auto;
}

.footer-middle {
    margin-bottom: 20px;
}

.footer-middle h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.social-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    margin: 5px 0;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer-bottom {
    font-size: 15px;
}

.separator {
    margin: 0 10px;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
    /* margin-left: 10px; */
}

.footer-bottom a:hover {
    text-decoration: underline;
}