*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.wrapper h1{
    padding: 30px 0;
    text-align: center;
}

.empty-cart-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

.container{
    display: flex;
}

.shop{
    flex: 75%;
}

.box{
    display: flex;
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 2.5rem;
    margin-right: 20px;
    background: #EEEEEE;
    border-radius: 5px;
    transition: all.6s ease;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
}

.box img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    margin-right: 5px;
}

.content{
    padding: 20px;
    position: relative;
    width: 100%;
}

.content h3{
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    
}

.content p{
    margin-bottom : 10px;
    font-size: 12px;
    opacity:70%;
}

.right-bar{
    flex: 35%;
    margin-left: 2.5rem;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #EEEEEE;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
    height: 180px;
}

.right-bar h1{
    display: flex;
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: -32px;
    font-size: 20px;
}


.right-bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
}


.payBtn{
    margin-top: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    border : 1.5px solid #35374B;
    border-radius: 25px;
    color: black;
}


.payBtn:hover {
    background-color: #35374B;
    color: white;
}


.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.5em;
    color:gray;
}

.icon-button1 {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.5em;
    color: gray;
}

.icon-button1.clicked {
    color: red;
}

.quantity-container {
    display: flex;
    align-items: left;
}

.quantity-button {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #f0f0f0;
}

input[type="number"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px;
}